<div class="todo" cdkDropListGroup>
<div class="todo__column">
    <h2>To do</h2>
    <div cdkDropList [cdkDropListData]="todo"
        class="todo__list" (cdkDropListDropped)="drop($event)">
        <app-card class="todo__item" *ngFor="let item of todo" cdkDrag [title]="item.title" [description]="item.description"></app-card>
    </div>
</div>

<div class="todo__column">
    <h2>To do</h2>
    <div cdkDropList [cdkDropListData]="done"
        class="todo__list" (cdkDropListDropped)="drop($event)">
        <app-card class="todo__item" *ngFor="let item of done" cdkDrag [title]="item.title" [description]="item.description"></app-card>
    </div>
</div>

</div>