<nav class="sidebar">
    <p class="sidebar__title">All Boards (2)</p>
    <ul>
        <li class="sidebar__item active">
            <span class="material-symbols-outlined">home</span>
            <span class="item__text">Board 1</span>
        </li>
        <li class="sidebar__item">
            <span class="material-symbols-outlined">home</span>
            <span class="item__text">Board 2</span>
        </li>
    </ul>
    <div class="sidebar__switch">
        <button>Toggle Dark mode</button>
    </div>
</nav>